<h1>Artists</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @artists.each do |artist| %>
    <tr>
          <td><%= artist.name %></td>
          <td><img src="<%= artist.image_url %>"></td>
      <td><button><a href="/artists/<%= artist.id %>">Show</a></button></td>
      <td><button><a href="/artists/<%= artist.id %>/edit">Edit</a></button></td>
      <td><button><a href="/artists/<%= artist.id %>/destroy">Destroy</a></button></td>
    </tr>
  <% end %>
  </tbody>
</table>

