<h1>Song #<%= @song.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @song.name %></p>
</div>
<div>
  <strong>Artist</strong>:<br />
  <p><%= @song.artist.name %></p>
</div>

<button><a href="/songs/<%= @song.id %>/edit">Edit</a> </button>
<button><a href="/songs/<%= @song.id %>/destroy">Destroy</a></button>
